$radius: 5px;

.centralize{
    display: flex;
    justify-content: center;
    align-items: center;
}

.effect-shadow{
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .3);
}

.frame {
    width: 400px;
    height: 400px;
    position: absolute;
    background-image: linear-gradient(to top right, #43389F, #4ec6ca);
    border-radius: $radius;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.content{
    flex-direction: column;
    color: white;
    font-family: 'Courier New', 'Courier', sans-serif;

    h1 {
        font-size: 82px;
        margin: 0;
    }

    p{
        font-size: 24px;
        font-weight: 700;
        margin: -20px;
    }
}

.hundre {
    display: flex;
    margin-left: -25px;

    .one-header, .one-body{
        background-color: white;
        border-radius: $radius;
    }
    
    .one-body{
        width: 25px;
        height: 100px;
        margin-right: -10px;
        z-index: 10;
    }
    
    .one-header {
        width: 20px;
        height: 40px;
        transform: rotate(50deg);
        position: relative;
        top: 0px;
        left: 5px;
        z-index: 9;
    }
    
    .zero-left, .zero-right {
        width: 50px;
        height: 50px;
        border: 25px solid white;
        border-radius: 50%;
        margin-right: -15px;
    }
    
    .zero-left{
        z-index: 8;
    }
}


